html {
    position: relative;
}

@{stratium-pages} {
    p {
        font-size: 16px;
    }

    .loader {
        img {
            display: block;

            width: 100%;
            max-width: 300px;
            min-width: 220px;
        }

        .animation {
            width: 100px;
            margin: 20px auto 0;
        }

        .content {
            text-align: center;
        }
    }

    .loader-container {
        height: 100%;
        padding: 50px;

        .flex-display();
        .align-items(center);
        .justify-content(center);

        .lds-ellipsis {
            display: inline-block;
            position: relative;

            width: 64px;
            height: 64px;

            div {
                position: absolute;
                top: 27px;

                width: 11px;
                height: 11px;

                border-radius: 50%;
                background: @white;

                .animation-timing-function(cubic-bezier(0, 1, 1, 0));

                &:nth-child(1) {
                    left: 6px;
                    .animation(lds-ellipsis1 0.6s infinite);
                }

                &:nth-child(2) {
                    left: 6px;
                    .animation(lds-ellipsis2 0.6s infinite);
                }

                &:nth-child(3) {
                    left: 26px;
                    .animation(lds-ellipsis2 0.6s infinite);
                }

                &:nth-child(4) {
                    left: 45px;
                    .animation(lds-ellipsis3 0.6s infinite);
                }
            }
        }

        .keyframes(lds-ellipsis1, { 0% {
            .transform(scale(0));
        } 100% {
              .transform(scale(1));
          } });

        .keyframes(lds-ellipsis3, { 0% {
            .transform(scale(1));
        } 100% {
              .transform(scale(0));
          } });

        .keyframes(lds-ellipsis2, { 0% {
            .transform(translate(0, 0));
        } 100% {
              .transform(translate(19px, 0));
          } });
    }

    .contact-details {
        a {
            display: block;

            margin-bottom: 2px;

            color: @white;

            font-size: 10px;
            line-height: 1;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                margin-right: 7px;

                font-family: @icon-font;
            }

            &.mobile:before {
                margin-right: 9px;

                content: @icon-mobile;
            }

            &.phone:before {
                font-size: .8em;

                content: @icon-phone;
            }

            &.email:before {
                font-size: .6em;

                content: @icon-envelope;
            }
        }
    }

    .wrapper > .container {
        padding: 0;

        .content-area {
            padding: 0;
        }
    }

    #page_header {
        display: none;
    }

    .vc_row {
        margin: 0;
    }

    .wpb_content_element {
        margin-bottom: 0;
    }

    // Slideshow
    #slider {
        position: relative;
        z-index: 6;
    }

    .vc_column_container > .vc_column-inner {
        padding: 0;
    }

    .owl-carousel {
        height: 100vh;

        .owl-stage-outer {
            height: 100%;
        }

        .owl-stage {
            height: 100%;
        }

        .owl-item {
            height: 100%;
        }

        .slide {
            overflow: hidden;

            height: 100%;

            background: no-repeat center;
            background-size: cover;

            text-align: center;

            &:before {
                position: absolute;
                top: 0;
                display: block;

                height: 100%;
                width: 100%;

                background: @black;
                content: '';

                .opacity(.4);
            }

            .flex-display();
            .align-items(center);
        }

        .text-box {
            position: relative;
            overflow: hidden;

            margin: auto;

            h3 {
                margin: 0;
                color: @white;
            }

            &:before {
                display: block;

                height: 2px;
                width: 100px;
                margin: 0 auto 20px;

                background: @white;

                content: '';
            }

            .new-button {
                margin-top: 20px;
            }

            p {
                margin-top: 20px;

                color: @white;

                font-size: 17px;
            }
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 15px;

        width: 100%;

        text-align: center;

        .owl-dot {
            margin: 0 5px;
            height: 8px;
            width: 8px;
            border: none !important;
            outline: none !important;

            background: @white;

            .border-radius(50%);
            .opacity(.5);

            &.active {
                .opacity(1);
            }
        }
    }

    .slide-1 {
        background-image: url('@{image-path}slideshow/slide-1.png') !important;
    }

    .slide-2 {
        background-image: url('@{image-path}slideshow/slide-2.png') !important;
    }

    .slide-3 {
        background-image: url('@{image-path}slideshow/slide-3.png') !important;
    }

    .section {
        margin-top: -77px;
        padding-top: 77px;
        outline: none !important;

        > .vc_column-inner {
            max-width: @page-max-width;
            margin: auto;
            padding: 30px 15px;
        }

        h2 {
            margin: 0 0 10px;

            text-transform: uppercase;
            font-weight: bold;

            em {
                color: @scorpion;

                font-style: normal;
            }
        }

        h3 {
            margin: 0 0 10px !important;

            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            margin-bottom: 10px;
        }

        .vc_inner .wpb_content_element {
            padding: 15px;
        }

        .new-button {
            margin-top: 10px;
            width: 100%;
        }
    }

    // Services
    .services {
        position: relative;
        z-index: 5;

        background: @concrete;

        .vc_inner .wpb_content_element {
            position: relative;
            overflow: hidden;

            margin-top: 20px;

            background-color: @white !important;

            &:after {
                position: absolute;
                z-index: 1;
                display: block;

                height: 200%;
                width: 200%;

                background: no-repeat bottom right;

                content: '';
            }

            &.stratium-erp:after {
                bottom: -80px;
                right: -60px;

                background-image: url('@{image-path}services/services_erp.svg') !important;
                background-size: 260px;
            }

            &.business-cloud:after {
                bottom: -44px;
                right: -130px;

                background-image: url('@{image-path}services/services_businesscloud.svg') !important;
                background-size: 329px;
            }

            &.app-development:after {
                bottom: -54px;
                right: -99px;

                background-image: url('@{image-path}services/services_appdev.svg') !important;
                background-size: 297px;
            }

            &.consulting:after {
                bottom: -68px;
                right: -36px;

                background-image: url('@{image-path}services/services_consulting.svg') !important;
                background-size: 235px;
            }

            .wpb_wrapper {
                position: relative;
                z-index: 2;
            }
        }
    }

    // Results
    .results {
        position: relative;
        z-index: 4;

        background: @white;

        .result {
            margin-top: 20px;

            background: @concrete;
        }

        img {
            display: block;

            max-height: 36.5px;
            margin: auto;
        }

        .wpb_wrapper {
            width: 100%;

            .stats {
                margin-top: 20px;

                .flex-display();
                .align-items(center);

                h2 {
                    margin: 0 10px 0 0;

                    font-size: 55px;
                }

                p {
                    width: 100%;
                }
            }
        }

        .testimony {
            .wpb_wrapper {
                .flex-display();

                &:before {
                    margin-right: 15px;

                    color: @scorpion;

                    font-family: @icon-font;
                    font-size: 40px;
                    line-height: 1.2;

                    content: @quote-left;
                }
            }

            .author {
                margin: 25px 0 0;
            }

            .company {
                color: @scorpion;
            }
        }
    }

    // About
    .about {
        position: relative;
        z-index: 3;

        background: @concrete;

        .text {
            margin-top: 20px;

            background: @white;
        }
    }

    // Contact Us
    .contact {
        .contact-form {
            margin-top: 20px;
            padding: 15px;

            background: @concrete;
        }

        .text {
            margin-bottom: 15px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            .border-radius(0);

            border: 2px solid @dusty-gray;

            font-size: 16px;
        }

        .wpcf7-form {
            .wpcf7-not-valid {
                border-color: @fuzzy-wuzzy-brown !important;
            }

            .wpcf7-response-output {
                margin: 0 0 20px !important;

                text-align: center;
            }

            .wpcf7-validation-errors {
                background: @fuzzy-wuzzy-brown;
            }

            .wpcf7-mail-sent-ok {
                background: @pelorous;
            }

            .wpcf7-mail-sent-ng,
            .wpcf7-aborted {
                margin: 0;
                padding: 5px 15px;
                border: none;

                color: @white;
                background: @fuzzy-wuzzy-brown;

                text-align: center;

                .border-radius(15px);
            }
        }

        div.wpcf7 .ajax-loader {
            display: none;

            margin: 0 auto -15px;
            height: 45px;
            width: 100%;

            background: url('@{image-path}loading.gif') center no-repeat;
            background-size: contain;

            &.is-active {
                display: inline-block;
            }
        }
    }

    // Static Pages
    &.page-template-page-static-php,
    &.error404 {
        #primary {
            background: @concrete;
        }

        .site-main {
            margin-top: 77px;
            padding: 30px 15px;
        }

        h2 {
            margin: 0 0 30px;

            text-transform: uppercase;
            font-weight: bold;
        }

        h3 {
            margin: 30px 0 10px !important;

            text-transform: uppercase;
            font-weight: bold;
        }

        li {
            margin: 10px 0 0 10px;

            &.menu-item {
                margin: 0;
            }
        }

        article {
            padding: 15px;

            background: @white;

            a {
                color: @pelorous;
            }
        }
    }

    &.error404 {
        > .wrapper {
            height: 100%;

            .flex-display();
            .flex-direction(column);

            > .container {
                height: 100%;
                min-height: 400px;

                .flex-display();
            }
        }

        #primary {
            height: 100%;
            width: 100%;

            .flex-display();
            .align-items(center);
        }

        h2 {
            font-size: 50px;
        }

        .container {
            width: 100%;
        }

        .site-main {
            margin: 77px auto 0;
        }

        .page-content {
            position: relative;
            z-index: 2;
        }

        article {
            position: relative;
            overflow: hidden;

            &:after {
                display: inline-block;
                position: absolute;
                bottom: -79px;
                right: -79px;
                z-index: 1;

                height: 285px;
                width: 285px;

                background: url('@{image-path}unsatisfied.svg') no-repeat;
                background-size: contain;

                content: '';

                .opacity(.1);
            }
        }
    }
}

// iPad Screens
@media only screen  and (min-width: @screen__m) {
    @{stratium-pages} {
        .wrapper > .container {
            width: 100%;
            padding: 0;
        }

        // Loader
        .loader img {
            min-width: 300px;
        }

        // Slideshow
        .owl-carousel {
            .text-box {
                &:before {
                    margin-bottom: 30px;
                }

                h3 {
                    font-size: 45px;
                }

                p {
                    margin-top: 30px;

                    font-size: 30px;
                }

                .new-button {
                    margin-top: 30px;
                }
            }
        }

        .section {
            margin-top: -85px;
            padding-top: 85px;

            > .vc_column-inner {
                padding: 40px 30px;

                h2 {
                    margin-bottom: 20px;
                }
            }

            .vc_inner .wpb_content_element {
                padding: 30px;
            }
        }

        // Services
        .services {
            .vc_col-sm-12 .vc_column-inner > .wpb_wrapper {
                .flex-display();
                .flex-wrap(wrap);

                .wpb_wrapper {
                    height: 100%;
                }

                > .wpb_content_element {
                    display: inherit;

                    width: 50%;
                    //height: 100%;

                    .flex(1 0 auto);

                    p:nth-last-of-type(2) {
                        margin-bottom: 85px;
                    }

                    .new-button {
                        position: absolute;
                        bottom: 0;
                    }
                }

                .stratium-erp,
                .app-development {
                    border-right: 10px solid @concrete;
                }

                .business-cloud,
                .consulting {
                    border-left: 10px solid @concrete;
                }
            }
        }

        // Results
        .results {
            .vc_column-inner .wpb_wrapper .wpb_wrapper {
                .flex-display();
                .flex-wrap(wrap);

                .stats {
                    margin: 20px auto 0;
                }
            }

            .result.wpb_content_element {
                padding: 15px;

                &.stats {
                    width: 33.33%;
                    border-right: 10px solid @white;
                    border-left: 10px solid @white;

                    &:first-of-type {
                        border-left: none;
                    }

                    &:nth-of-type(3) {
                        border-right: none;
                    }
                }

                &.testimony {
                    width: 50%;

                    &.first {
                        border-right: 10px solid @white;
                    }

                    &.second {
                        border-left: 10px solid @white;
                    }

                    .wpb_wrapper {
                        .flex-wrap(nowrap);
                    }
                }
            }
        }

        // About
        .about {
            > .vc_column-inner {
                .flex-display();

                &:after {
                    display: block;
                    width: 50%;
                    margin: -40px 0 -40px 40px;

                    background: url('@{image-path}world.svg') no-repeat center left;
                    background-size: contain;

                    content: '';
                }

                > .wpb_wrapper {
                    width: 50%;
                }

            }
        }

        // Contact Us
        .contact {
            .contact-form {
                padding: 30px;
            }

            form {
                margin: auto;
            }

            .text {
                margin-bottom: 30px;
            }

            .form-fields {
                .flex-display();
                .flex-wrap(wrap);

                p {
                    width: 50%;
                }
            }

            .your-name,
            .your-tel {
                margin-right: 10px;
            }

            .your-email,
            .your-company {
                margin-left: 10px;
            }

            input[type=submit].new-button,
            input[type=reset].new-button {
                width: auto;
                margin-left: 10px;
            }

            .wpcf7-form .wpcf7-response-output {
                margin: 20px 0 30px !important;
            }

            .button-container {
                text-align: right;
            }

            div.wpcf7 .ajax-loader {
                width: 0;
                margin-bottom: 0;

                background-position: right;

                &.is-active {
                    width: 52px;
                    margin-top: -5px;
                }
            }

            .wpcf7-form {
                input[type=tel],
                input[type=text],
                input[type=email],
                textarea {
                    margin-bottom: 20px;

                    font-size: 14px;
                }
            }
        }

        // Static Pages
        &.page-template-page-static-php,
        &.error404 {
            .site-main {
                max-width: @page-max-width;
                margin: 85px auto 0;
                padding: 40px 30px;
            }

            h2 {
                margin-bottom: 40px;
            }

            article {
                padding: 30px;
            }
        }
    }
}

// Screens >= 1024px
@media only screen  and (min-width: @screen__l) {
    @{stratium-pages} {
        .section .new-button {
            width: auto;
        }

        // Results
        .results {
            .vc_inner .wpb_content_element {
                padding: 30px;
            }

            .testimony .wpb_wrapper:before {
                margin-right: 30px;
            }

            img {
                max-height: 44px;
            }
        }
    }
}

// Screens >= 1051px
@media only screen  and (min-width: @screen__l + 27) {
    @{stratium-pages} {
        // About
        .about {
            > .vc_column-inner {
                &:after {
                    width: 30%;
                    margin: -10px 0 -10px 40px;
                }

                > .wpb_wrapper {
                    width: 70%;
                }
            }
        }
    }
}