/*Push Menu*/

#menu_bars{
  display: none;
  padding:15px;
  width:auto;
  border-radius:4px;
  cursor: pointer;
  position:relative;
  z-index:1102;
  background:transparent;
  top:22px;
  right: 22px;
    margin-left: 30px;
}

#menu_bars.menu-desktop {
	display: block;
}
@media (max-width:767px ) {
	#menu_bars.menu-mobile {
		display: block;
	}
}

#menu_bars.left{
	left:30px;
	float:left;
}
#menu_bars.right{
	float:right;
}
#menu_bars.active{
	position:relative;
}
#menu_bars.active.right{
	right:30px;
}
#menu_bars.active span.t1{
  -moz-transform: translateY(7px) rotate(-45deg);
  -ms-transform: translateY(7px) rotate(-45deg);
  -o-transform: translateY(7px) rotate(-45deg);
  -webkit-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}
#menu_bars.active span.t2{
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu_bars.active span.t3{
  -moz-transform: translateY(-5px) rotate(-135deg);
  -ms-transform: translateY(-5px) rotate(-135deg);
  -o-transform: translateY(-5px) rotate(-135deg);
  -webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
}
#menu_bars span {
  background: #fff;
  display: block;
  height:3px;
  width:20px;
  pointer-events: none;
		-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	-webkit-transition:all .4s ease;
  transition:all .4s ease;
}
.affix #menu_bars span {
  background: #202125;
}
#menu_bars span.t2{
	margin: 3px 0;
	width:14px;
	position:relative; right:-7px;
}

/*this is the nav*/
.pushmenu-push{
  overflow-x: hidden;
  position: relative;
  left: 0;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	-webkit-transition:all .4s ease;
  transition:all .4s ease;
}
.pushmenu{ 
  background: #000;
  color: #fff;
  padding:20px 15px; 
  width: 270px;
  height: 100%;
  top: 0;
  z-index: 1100;
  position:fixed;
  overflow:hidden;
  	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	-webkit-transition:all .4s ease;
  transition:all .4s ease;
}
.pushmenu-left{
  left: -270px;
}
.pushmenu-left.pushmenu-open{
  left: 0;
  box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
  left: 270px;
}
.pushmenu-right{
	right: -270px;
}
.pushmenu-right.pushmenu-open{
  right: 0;
}
.pushmenu-push-toleft{
  left: -270px;
}
.pushmenu .push-logo{
	display:block;
	margin:50px 0 30px 0;
	text-align:center;
	position:relative;
	z-index:98;
}
.pushmenu .push-logo > img{
	display:inline-block;
	width: auto;
	max-width: 240px;
}
.pushmenu .push_nav{ width:100%; z-index:100; background:#fff;} 
.pushmenu .push_nav > li{
	display:block;
	position:relative;
	-moz-transform:translate3d(100%, 0px, 0px);
	-ms-transform:translate3d(100%, 0px, 0px);
	-o-transform:translate3d(100%, 0px, 0px);
	-webkit-transform:translate3d(100%, 0px, 0px);
	transform:translate3d(100%, 0px, 0px);
}
.pushmenu.pushmenu-open .push_nav > li{
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	-webkit-transition-duration:.4s;
  transition-duration:.4s;
  
  transition-property: all;
  -moz-transform: translate3d(0, 0px, 0px);
  -ms-transform: translate3d(0, 0px, 0px);
  -o-transform: translate3d(0, 0px, 0px);
  -webkit-transform: translate3d(0, 0px, 0px);
  transform: translate3d(0, 0px, 0px);
  
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.pushmenu.pushmenu-open .push_nav > li:first-child{
	-moz-transition-delay:.1s;
	-ms-transition-delay:.1s;
	-o-transition-delay:.1s;
	-webkit-transition-delay:.1s;
  transition-delay:.1s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(2){
	-moz-transition-delay:.2s;
	-ms-transition-delay:.2s;
	-o-transition-delay:.2s;
	-webkit-transition-delay:.2s;
  transition-delay:.2s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(3){
	-moz-transition-delay:.2s;
	-ms-transition-delay:.2s;
	-o-transition-delay:.2s;
	-webkit-transition-delay:.2s;
  transition-delay:.3s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(4){
	-moz-transition-delay:.4s;
	-ms-transition-delay:.4s;
	-o-transition-delay:.4s;
	-webkit-transition-delay:.4s;
  transition-delay:.4s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(5){
	-moz-transition-delay:.5s;
	-ms-transition-delay:.5s;
	-o-transition-delay:.5s;
	-webkit-transition-delay:.5s;
  transition-delay:.5s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(6){
	-moz-transition-delay:.6s;
	-ms-transition-delay:.6s;
	-o-transition-delay:.6s;
	-webkit-transition-delay:.6s;
  transition-delay:.6s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(7){
	-moz-transition-delay:.7s;
	-ms-transition-delay:.7s;
	-o-transition-delay:.7s;
	-webkit-transition-delay:.7s;
  transition-delay:.7s;
}

.pushmenu .push_nav > li > a{
	 display: block;
    color: #000;
	 font-size:20px;
    padding:5px;
	 text-align:center;
	 margin:18px 5px; 
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus, 
.pushmenu .push_nav > li.active > a{
	color:#f6364d;
}
.pushmenu .push_nav .dropdown > a{ margin-top:0;}
.pushmenu .push_nav .dropdown-menu{
    position: relative;
    width: 100% !important;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color:#fff;
}
.pushmenu  .push_nav .dropdown-menu li a{ display:block; text-align:center;}
.pushmenu  .social{ position:absolute; bottom:0; text-align:center; left:0; right:0;}

body.pushmenu-push-toleft .wrap-sticky nav.navbar.bootsnav.navbar-sticky,
body.pushmenu-push-toleft .wrap-sticky nav.navbar.bootsnav.sticked, body.pushmenu-push-toleft .navbar-fixed.white{
    left: -260px;
}
body.pushmenu-push-toright .wrap-sticky nav.navbar.bootsnav.sticked{
    right: -260px;
}


/* Copyright */
.sidebar-copyright {
	position: absolute;
	bottom: 0;
	width: 95%;
}
.sidebar-copyright ul.social_icon {
	width: 100%;
	text-align: center;
	display: block;
}
.sidebar-copyright ul.social_icon li {
    margin: 10px 5px;
}
.sidebar-copyright .copyright-text {
	display: block;
	margin: 10px 5px;
	text-align: center;
}